* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #eceef1;
}

nav {
  width: 100%;
  height: 50px;
}

nav ul {
  list-style: none;
  float: right;
  position: relative;
  right: 80px;
  top: 10px;
}

nav ul li {
  font-size: 13px;
}

nav a {
  position: relative;
  right: 47px;
  font-size: 13px;
  color: #0077c5;
}

#firstLine {
  position: relative;
  right: 40px;
}

.btn {
  float: right;
  position: relative;
  left: 150px;
  top: 10px;
  padding: 7px 20px;
  border-radius: 5px;
  background-color: #0277c5;
  color: white;
  font-size: 14px;
  border: 1px solid black;
}

main img {
  width: 30%;
  position: relative;
  top: 55px;
  left: 450px;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 30%;
  height: 615px;
  top: 50px;
  background-color: white;
  overflow: hidden;
  border: 1px solid black;
}

form {
  text-align: center;
}

form h1 {
  font-size: 24px;
  font-weight: 400;
  color: #4c4c4c;
  padding-top: 30px;
  padding-bottom: 20px;
}

form h2 {
  font-size: 14px;
  font-weight: 300;
  color: #4c4c4c;
}

form h3 {
  font-size: 12px;
  font-weight: 300;
}

form a {
  color: #0077c5;
}

input[type='email'] {
  width: 85%;
  height: 30px;
  border-radius: 3px;
  margin-top: 10px;
}

input[type='tel'] {
  width: 85%;
  height: 30px;
  border-radius: 3px;
  margin-top: 10px;
}

input[type='password'] {
  width: 85%;
  height: 30px;
  border-radius: 3px;
  margin-top: 10px;
  position: relative;
  left: 10px;
}

#standard-call {
  font-size: 10px;
  font-weight: 400;
  position: relative;
  right: 64px;
  margin-top: 5px;
}

label {
  position: relative;
  float: left;
  left: 30px;
  margin-top: 30px;
}

#lock {
  position: relative;
  right: 30px;
  color: grey;
  opacity: 0.5;
}

form button {
  width: 85%;
  height: 40px;
  border-radius: 4px;
  background-color: #0277c5;
  color: white;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
  right: 1px;
}

#lock2 {
  position: relative;
  right: 7px;
  bottom: 1px;
}

#terms {
  width: 60%;
  position: relative;
  margin: 0 auto;
  font-size: 12px;
}

#conditions {
  font-size: 10px;
  background-color: #eceef1;
  height: 50px;
  position: relative;
  top: 20px;
  padding-top: 15px;
}

footer {
  width: 60%;
  position: relative;
  margin: 0 auto;
  font-size: 12px;
  top: 120px;
  text-align: center;
}
